html,body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p,span, blockquote, th, td, textarea, input { 
    margin:0;
    padding:0;
}
ul,li{list-style-type: none;}
img{border:0;}
body{
    background: url(../images/bg.jpg) repeat;
    font-family:"microsoft yahei", Helvetica, Verdana, sans-serif;
    font-size: 16px;
    font-weight:normal;
}
#comments{
    width:100%;
    overflow:hidden;/*超出隐藏*/
}
#comments .header{
    position: absolute;
    top:0;  /*正好占100%*/
    width:100%;
    z-index:1001;
}
#comments .header .col-md-12{padding:0;}
#comments .header .navbar{
    background-color:transparent;
    border:0; 
    box-shadow:0px 4px 6px rgba(255,255,255,0.8);
    margin-bottom: 0px; /*常规设置*/
}
#comments .header .navbar-collapse{ padding:0;} /*去除间隙*/
#comments .header .navbar-nav{margin:0px; color:#bfe1f1;}
#comments .header .navbar-nav a{ color: #bfe1f1;}
#comments .header .navbar-brand{
     padding:8px 15px;
    font: italic 36px Georgia, Times, Serif;
    color: #bfe1f1;
    text-shadow: 0px 2px 6px #333;
}
#comments .header .navbar-brand:hover,#comments .header .navbar-nav a:hover{
	 color:#f2f2f2;
}
#index .header ul li a{
    font-size: 14px;
}
#comments .com_content{
    margin-top:68px;
    overflow: hidden;
}
.footer{
    height:60px;
    background-color:transparent;
    color:#ababab;
    text-align: center;
    padding-top:10px;
    box-sizing: border-box;
    line-height:24px;
}
@media screen and (max-width:768px) {  /*必须写*/
     #comments  .header .navbar li a{
        background-color:rgba(0,0,0,0.4);
        border-bottom:1px solid #e7e7e7;
    }
     #comments  .header .navbar li a img{
    width:20px;height:20px;
}
     #comments  .header .navbar-brand{
        padding:0px 15px;
    }
     #comments .com_content{
        margin-top:56px;
    }
    .footer{
    padding-top:5px;
    font-size: 14px;
    line-height:18px;
    }
}
@media  screen and (max-width:992px) { 
  .com_content{width:100%;}
}



