html,body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p,span, blockquote, th, td, textarea, input { 
    margin:0;
    padding:0;
}
ul,li{list-style-type: none;}
img{border:0;}
body{
    background: url(../images/bg.jpg) repeat;
    font-family:"microsoft yahei", Helvetica, Verdana, sans-serif;
    font-size: 16px;
    font-weight:normal;
}
#other{
        margin-top:70px;
        }
#other .other_1{
       width:80%;
       height:600px;
       margin:0 auto;
/*          多张图片做背景  */
         background-image:url(../images/show-4.jpg),url(../images/show-1.jpg),url(../images/show-2.jpg),url(../images/other3.jpg);
         background-position:left top,right top,right bottom,left bottom;
        background-repeat: no-repeat;
        background-size: 30% 30%;
        border-radius: 20px;
        -moz-box-shadow:0px 0px 30px aqua;  /* For Firefox3.6+ */
	   -webkit-box-shadow:0px 0px 30px aqua;  /* For Chrome5+, Safari5+ */
        box-shadow:0px 0px 30px aqua;
        border:2px groove lightblue;
       }
        .other_2{
       width:80%;
       height:600px;
       margin:0 auto;
	    background:url(../images/other2.jpg) no-repeat;
        background-size: 100% 600px;
       border-radius: 50%;
        border:none;
       -moz-box-shadow:0px 0px 10px #fff;   /* For Firefox3.6+ */
	   -webkit-box-shadow:0px 0px 10px #fff;  /* For Chrome5+, Safari5+ */
	   box-shadow:0px 0px 10px #fff;  /* For Latest Opera */
        margin-top:-600px;
         z-index: 1;
      }
        .other_2 p{
            color:#666;
            font-size: 22px;
            text-align: center;
            line-height: 600px;
        }
        /* demo style */
    .bumpy-char {
        line-height: 3.4em;
        position: relative;
        }
    @media screen and (max-width:768px) {  /*必须写*/
     #index  .header .navbar li a{
        background-color:rgba(0,0,0,0.4);
        border-bottom:1px solid #e7e7e7;
    }
     #index  .header .navbar li a img{
    width:20px;height:20px;
    }
     #index  .header .navbar-brand{
        padding:0px 15px;
    }
     #index .com_content{
        margin-top:56px;
    }
     .footer{
    padding-top:5px;
    font-size: 14px;
    line-height:18px;
    }
}
@media  screen and (max-width:992px) { 
    #other{width:100%;}
}
